// ==========================================================================
// Extends or Placeholders
// ==========================================================================

// General Placeholders

%centered {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  max-width: $max-width;
  flex-grow: inherit;
}

// UI Element Specific Placeholders

%nav-top {
  line-height: 0;
  padding: 0 0.5em;
}

%nav-left {
  padding: 1em;
}
// couldn't use the above declaration cause it's used in a media query??
