// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-url--google                      : 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
$font-family--primary                  : 'Open Sans', 'Arial Black', Arial;
$fa-font-path                          : "../fontawesome";

// Font Weights
$font-weight--thin                     : 100;
$font-weight--light                    : 300;
$font-weight--medium                   : 400;
$font-weight--semi-bold                : 600;
$font-weight--bold                     : 700;
$font-weight--ultra-bold               : 900;

// Widths
$max-width                             : 1024px;

// Descriptive Base Colors
$white                                 : #fff;
$gray                                  : #838383;

$light-gray                            : #B2B2B2;
$bluebonnet                            : #7477bf;
$lime-green                            : #81c98f;

// Color Usage
$color-primary                         : $bluebonnet;
$color-secondary                       : $light-gray;
$color-accent                          : $lime-green;

// Text
$base__font-size                       : 16px;
$base__line                            : 24px;

// Breakpoints
$break-m                               : 320;
$break-t                               : 768px;
$break-d                               : 1024px;
