// ==========================================================================
// CHARTS, CARDS, AND GRAPH STYLES
// ==========================================================================


.chart {
  @include e(tab) {
    @include mq($break-t) {
      display: flex;
      justify-content: flex-end;
    }
  }
  @include e(period) {
    padding: 0.25em 0;
    font-weight: $font-weight--bold;
    color: darken($white, 50%);
    @include mq($break-t) {
      padding: 0 1em;
    }
    &:last-child {
      padding-right: 0;
    }
    &:nth-child(3) {
      color: $white;
      background-color: $color-accent;
      border-radius: 1em;
    }
  }
}

.card {
  border-radius: 0.33em;
  border: solid 1px lighten($gray, 25%);
  background-color: lighten($gray, 48%);
  padding: 1em;
  margin: 1em 0;
  display: flex;
  @include mq($break-t) {
    margin: 0;
  }
  @include e(icon-box) {
    border-radius: 100%;
    background-color: $color-primary;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: auto 0;
    @include mq($break-d) {
      width: 4em;
      height: 4em;
    }
  }
  @include e(icon) {
    color: $white;
    font-size: 1.6em;
    position: relative;
    left: 0.5em;
    top: 0.5em;
    @include mq($break-d) {
      font-size: 2em;
    }
  }
  @include e(title) {
    color: $color-primary;
    font-weight: $font-weight--bold;
    font-size: 1em;
    margin: 0;
    @include mq($break-d) {
      margin: .25em;
      font-size: 1.25em;
    }
  }
  @include e(value-box) {
    display: inline-block;
    margin-left: 1em;
  }
  @include e(value) {
    font-weight: $font-weight--thin;
    font-size: 1.5em;
    font-weight: 100;
    margin: .25em 0;
    @include mq($break-d) {
      font-size: 3em;
    }
  }
}

.newMembers {
  padding: 0.5em;
  border: 1px solid lighten($gray, 20%);
  @include e(row) {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid lighten($gray, 35%);
    &:last-child {
      border-bottom: none;
    }
  }
  @include e(pic) {
    margin: 0.5em;
  }
  @include e(infoBox) {
    & p {
      margin: 0;
      @include mq($break-d) {
        align-self: center;
        flex: 1;
      }
    }
    @include mq ($break-d) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
  @include e(info) {
    @include mq($break-d) {
      flex: 4;
    }
  }
  // @include e(info) {
  //   margin-left: 0.75em;
  //   & p:first-child {
  //     font-weight: 600;
  //   }
  //   & p:last-child {
  //     margin: 0;
  //   }
  //   & p:nth-child(odd) {
  //     margin: 0;
  //   }
  // }
}
