// ==========================================================================
// Input, radio, checkbox, label styles and other form elements
// ==========================================================================

// FORMS

form > * {
  margin: 0.5em 0;
}

.message-user {
  @include e(field) {

  }
  @include e(buttons) {
    display: flex;
    justify-content: space-between;
  }
  & button:first-child  {
    margin-right: 0.5em;
  }
  & button:last-child  {
    margin-left: 0.5em;
  }
}

// INPUTS

.inputs {
  position: relative;
}

input[type="text"],
input[type="search"],
textarea {
  @extend %inputs;
  &:focus {
    border: 1px solid $color-primary;
    box-shadow: 0px 0px 11px 2px rgba(darken($color-primary,33%), 0.10);
    outline: none;
  }
}

.button {
  @extend %button;
  @include m(primary) {
    @extend %button;
    background-color: $color-primary;
    color: $white;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }
    &:active {
      background-color: darken($color-primary, 10%);
    }
  }
  @include m(secondary) {
    @extend %button;
    background-color: $color-secondary;
    color: $white;
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
    &:active {
      background-color: darken($color-secondary, 10%);
    }
  }
}
