// ==========================================================================
// Input, radio, checkbox, label styles and other form elements
// ==========================================================================

// FORMS

form > * {
  margin: 0.5em 0;
  z-index: 0;
}

.message-user {
  @include e(field) {
    & input[type="checkbox"] {
      visibility: hidden;
    }
    @include mq($break-d) {
      & label {
        padding-right: 1em;
      }
    }
  }
  @include e(buttons) {
    display: flex;
    justify-content: space-between;
  }
  & button:first-child  {
    margin-right: 0.5em;
  }
  & button:last-child  {
    margin-left: 0.5em;
  }
}

// INPUTS

.inputs {
  position: relative;
}

.dropdown {
  background-color: $white;
  z-index: 2;
  box-shadow: 0px 0px 11px 2px rgba(darken($color-primary,33%), 0.10);
  border-radius: 0.25em;
  position: absolute;
  width: 100%;
  & div:first-child {
    padding-top: 1em;
  }
  & div:last-child {
    padding-bottom: 1em;
  }
  @include e(value) {
    margin: 0;
    padding: 1em;
    transition: background-color 0.033s ease-in-out;
    &:hover {
      background-color: rgba($color-primary, 0.25);
    }
    @include m(selected) {
      background-color: rgba($color-primary, 0.25);
    }
  }
}

input[type="text"],
input[type="search"],
textarea {
  @extend %inputs;
  &:focus {
    border: 1px solid $color-primary;
    box-shadow: 0px 0px 11px 2px rgba(darken($color-primary,33%), 0.10);
    outline: none;
  }
  &:focus ~ .dropdown {
    display: inherit;
  }
  &:hover {
    background-color: $white;
  }
}

.button {
  @extend %button;
  @include m(primary) {
    @extend %button;
    background-color: $color-primary;
    color: $white;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }
    &:active {
      background-color: darken($color-primary, 10%);
    }
  }
  @include m(secondary) {
    @extend %button;
    background-color: $color-secondary;
    color: $white;
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
    &:active {
      background-color: darken($color-secondary, 10%);
    }
  }
}

// TOGGLE

.track {
  height: em(40px);
  width: em(96px);
  background-color: #7477bf;
  border-radius: 40px;
  position: relative;
  border: 2px solid #bfbebe;
  display: inline-flex;
  align-items: center;
  margin: 0.5em 0;
  @include mq($break-d) {
    left: em(-19px);
  }
  & p {
    color: $white;
    margin: 1em;
  }
}

.switch {
  background-color: white;
  width: 32px;
  height: 32px;
  z-index: 100;
  display: block;
  border-radius: 100%;
  border: 2px solid #bfbebe;
  position: absolute;
  bottom: 2px;
  right: 2px;
}


// FORM Message

.successMessage {
  display: none;
  opacity: 0;
  padding: 1em;
  background-color: $teal;
  color: $white;
  border-radius: 0.25em;
  transition: opacity 0.5s ease-in-out;
}

.errorMessage {
  display: none;
  opacity: 0;
  padding: 1em;
  background-color: #f38484;
  color: $white;
  border-radius: 0.25em;
  transition: opacity 0.5s ease-in-out;
}
