// ==========================================================================
// Grid Styles
// ==========================================================================

.grid {
  @include e(row) {
    margin: 1em 0;
    @include mq($break-t) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
  }
}

// Flex-item loop to assign correct flex-grow property
@include mq($break-t) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(#{$break-t}*calc(#{$i}/12));
    }
  }
}

@include mq($break-d) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(#{$break-d}*calc(#{$i}/12));
    }
  }
}
