// ==========================================================================
// Iconographical Styles
// ==========================================================================

.icon {
  @extend %icons;
  @include m('primary') {
    @extend %icons;
    color: $color-primary;
  }
  @include m('white') {
    @extend %icons;
    color: $white;
  }
}


.input-icon {
  position: absolute;
  right: 1em;
  top: 1.25em;
  color: lighten($color-primary,15%);
}

#facebook_icon,
#google_icon {
  width: 30px;
  padding: 0.45em;
  @include mq($break-d) {
    width: 40px;
    padding: 0.65em;
  }
}
