// ==========================================================================
// Iconographical Styles
// ==========================================================================

.icon {
  @extend %icons;
  @include m('primary') {
    @extend %icons;
    color: $color-primary;
  }
  @include m('white') {
    @extend %icons;
    color: $white;
  }
}


.input-icon {
  position: absolute;
  right: 1em;
  top: 1.25em;
  color: lighten($color-primary,15%);
  // transition: color 0.15s ease-in-out;
}

// .testinput:focus .input-icon {
//   color: red;
// }

//Tried to get the magnifying glass icon to change upon <input>'s hover
