// ==========================================================================
// Image Styles
// ==========================================================================

.picture__profile {
  border-radius: 100%;
  width: 3em;
}


#bell {
  width: em(24px);
}
