// ==========================================================================
// Typographical Styles
// ==========================================================================

.appLogo {
  font-size: em(24px);
}

.bold {
  font-weight: $font-weight--bold;
  font-size: inherit;
}

.light {
  font-weight: $font-weight--thin;
  font-size: inherit;
}
