// ==========================================================================
// Typographical Styles
// ==========================================================================

.appLogo {
  font-size: em(24px);
}

.bold {
  font-weight: $font-weight--bold;
  font-size: inherit;
}

.light {
  font-weight: $font-weight--thin;
  font-size: inherit;
}

.tab {
  font-weight: 100;
  color: $color-primary;
  font-size: 1.5em;
}


.banner {
  padding: 0.25em;
  background-color: $color-primary;
  border-radius: 4px;
  display: flex;
  @include e(text) {
    display: inline;
    color: $white;
    margin: 0.25em 1em;
  }
}
