// ==========================================================================
// Base Styles
// ==========================================================================

* {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  line-height: $base__line;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

p {
  color: $gray;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1.5em;
  @include mq($break-t) {
    padding: .5em 1em;
  }
}

.centered {
  @extend %centered;
}


body {
  background-color: $white;
  top: 5em;
  position: relative;
  @include mq($break-t) {
    padding-left: 5em;
  }
}
